@charset "UTF-8";

.3d{
		animation:
		transform: translate3d(.5, .5, .5, 360deg);
		overflow: hidden;
}

.usu{
  	animation: usu 100s alternate infinite;
		transition: all 1.5s;
		transform: translate3d(-3.7rem, 0, 1rem);
		overflow: hidden;
		}

@keyframes usu{
    0%{
    }
    20%{
    transform: scale(1.0) rotate(0deg);
        width: 100%;
         opacity:0.9;
    }

    25%{

        opacity:0.8;
    }
    50%{
	  opacity:0.5;
    }
    75%{
 	  opacity:0.2;

    }
    100%{
   			transform: scale(1.1) rotate(1deg);
           opacity:0;
           height:50%;
    }

    }
}
}

.abe{
	z-index:1;
  	animation: abe 2000s alternate infinite;
		transition: all 2.5s;
		overflow: hidden;
		}

@keyframes abe{
    0%{
    }
    20%{
    transform: scale(1.1) rotate(272deg);
        width: 150%;
        height: 150%;
         opacity:0.5;
    }

    25%{
        width: 10%;
        opacity:0.1;
    }
    50%{
        width: 225%;
    }
    75%{
        height: 10%;

    }
    100%{
        width: 200%;
          opacity:1;
    }

    }
}

 .Chaos{
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
  	animation: Chaos1 270s linear infinite;
		transition: all 892.5s;

  ::-webkit-input-placeholder { /* WebKit browsers */
    font-family: 'Source Sans Pro', sans-serif;
      color:    white;
    font-weight: 300;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-family: 'Source Sans Pro', sans-serif;
     color:    white;
     opacity:  1;
    font-weight: 300;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-family: 'Source Sans Pro', sans-serif;
     color:    white;
     opacity:  1;
    font-weight: 300;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
    font-family: 'Source Sans Pro', sans-serif;
     color:    white;
    font-weight: 300;
  }
}

@keyframes Chaos1{
    0%{
    }
    20%{
        background: #00e34b;
        transform: scale(1.2) rotate(15deg);
        width: 180%;
        height: 162%;
    }

    25%{
        width: 10%;
    }
    50%{
        width: 225%;
    }
    75%{
        height: 10%;
    }
    100%{
        width: 300%;
    }
    40%{
        background: #e2ea00;
        transform: scale(0.8) rotate(-45deg);
    }
    60%{
        background: #ea8400;
        transform: scale(1) rotate(90deg);
    }
    80%{
        background: #ea0000;
        transform: scale(1.2) rotate(-90deg);
    }
    100%{
        background: #00b3e3;
        transform: scale(1) rotate(0deg);
    }
}


.aho{
	z-index:1;
  	animation: aho 1.5s alternate infinite;
  	overflow: hidden;

		}

@keyframes aho{


		0% {

    }
    20%{
        width: 180%;
        height: 100%;
 transform: scale(1.2) rotate(180deg);
     }
     25%{
      transform: scale(1.2) rotate(280deg);
        width: 10%;
        opacity:0.1;
    }

    }
}

.down{
	z-index:1;
  	animation: down 100.5s alternate ;

}

@keyframes down{
    0%{
    }
    20%{
    transform: scale(1.5) rotate(2deg);
        width: 110%;
        height: 100%;
         opacity:0.5;
    }

    }

}
