@charset "UTF-8";
/*ベースTRクラス */
.Base{
  /* appleGray */
 /*  background-color: #6e6e73; */
 	background-color: #dee2e6; 
  color: #1d1d1f;
  font-weight: 400;
}

.Comp{
   //background-image:
   //linear-gradient(to bottom, rgba(255, 255, 0, 0), rgb(255, 0, 0)),
   //url('vue.svg');
   //text-decoration-line: line-through;
   text-decoration-style: solid;
   text-decoration-thickness: 0.002px;
   text-decoration-skip-ink: auto;
   text-decoration-color: rgba(236, 229, 229, 0.575);
   text-shadow: 0px 2.23px #12121344;
   font-weight: 100;
   color: rgba(71, 71, 85, 0.39)!important;
   cursor: wait;
}

.Expired{
	background-color: rgba(226, 226, 226, 0.333)!important;
  color: #b60808ea;
  font-weight: 600;
  //text-decoration: underline dotted rgba(255, 0, 0, 0.116);
  // text-emphasis: filled double-circle #ff030365;
}

.Normal{
  background-color: rgb(255, 255, 255)!important;
  color: #1d1d1f;
}

/*文字の色変える重要 */
.btn-outline-warning {
  color: #1d1d1f !important;
  border-color: #ffffff00;
}
.btn-sm{
  font-size: 19px!important;
}

/*スライドメニュ時の高さ */
.showNow{
 height: 20%;
}

@media (max-width: 596px){
     .iPhoneSE2 {
        display: none;
    }
}
.iPhoneSE3 {
  display: none;

}
@media (max-width: 596px ){
  .iPhoneSE3 {
     display: block;

 }
}

.iPhoneSE{
	word-break: break-all;
    width: 100%;
    
}

font{
	font-family: "Hiragino Sans",'Noto Sans JP', 'Open Sans',sans-serif,メイリオ, Meiryo,ヒラギノ角ゴ Pro W3,;
	font-size:14px;
  color: #1d1d1f;
  line-height: 1.42859;
  font-weight: 400;
  /* font-weight: bold; */
}

li{
	list-style-type: none;
	float:left;
}

/*  2023/03/21更新　*/
table{
	font-family: 'Noto Sans JP',"Hiragino Sans", sans-serif,メイリオ, Meiryo,ヒラギノ角ゴ Pro W3,;
  font-size:14px;
  letter-spacing: -1.409px;
  background-color: #6e6e73!important;
  border-collapse: separate!important;
  border-spacing: 0.179rem 0.599rem!important;
	border-radius: 18px;
  border-bottom-width:0px!important;
  box-shadow:0px 2px 4px rgb(0 0 0 / 30%)!important;
  transition: all .3s cubic-bezier(0,0,.5,1);
 /*  background-image: url(../assets/tamu.jpg) ; */
  
}

thead{
  border-radius: 8px;
  padding:  8px;
  color: #6e6e73;
}

tr{
/* 	display: -webkit - box;
  display: -webkit - flex; */
  border-style:none!important;
  position: relative;
 // display: flex;
  flex-direction: column;
	border-radius: 2px;
  margin: 2.3%;
	box-shadow: 2px 2px 4px rgb(0 0 0 / 40%);
 
}

td{
	font-family: 'Noto Sans JP', sans-serif,メイリオ, Meiryo,ヒラギノ角ゴ Pro W3,;
	border-radius: 8px;
  border-style:none!important;
  box-shadow: 0px 4px 8px rgba(0,0,0,.08)!important;
  // border-spacing: 1px 1rem;
  // writing-mode: horizontal-tb;
  // border-collapse: separate;
}

.btn-complete{
  background-color: rgba(0, 102, 204, 0.575);
}

.modalEdit{
  background-color: rgba(0, 102, 204, 0.575);
  letter-spacing: -1.399px;
  border-radius: 18px;
}

/*カルーセルスライダーCSS
*/
.swiper {
    width: 100%!important;
  /*height:; */
    -ms-flex-negative: 0;
    -webkit-flex-shrink: 0;
    flex-shrink : 0;
    height: 100%;
    position: relative;
    -webkit-transition-property: -webkit - transform;
    transition-property:-webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit - transform;
    width: 100%
}

.McShadow{
	box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%);
}
/*苦肉のモーダル画面
 .modal {
  width: 300px;
  height: 650%;
  border: 1px solid #000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-300%, -30%);
  background: #fff;
  z-index: 11;
  display: none;
}*/
.modalEdit{
  position: relative;
  top: 55%;
  left: 15%;
  box-shadow: 0 20px 25px 0 rgba(45, 194, 169, 0.9);
  transform: translate(0px, -20px), scale(1.5, 2.7) rotate(2deg);
  z-index: 10;
}

 .modal {
  width: 65%;
  height: 80%;
  border: 1px solid #000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  z-index: 11;
  display: none;
}

 .modal2 {
  width: 65%;
  height: 80%;
  border: 1px solid #000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  z-index: 11;
  display: none;
}
.modal p {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 14px;
}

.modal-close__wrap {
  position: absolute;
  right: 40px;
  top: 20px;
}

.modal-close {
  background: transparent;
  border-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  width: 28px;
  display: block;
  height: 28px;
}

.modal-close span {
  position: relative;
  width: 100%;
  height: 1px;
  background: black;
  display: block;
}

.modal-close span:nth-child(1) {
  transform: rotate(45deg);
}

.modal-close span:nth-child(2) {
  transform: rotate(-45deg);
}

.overlay.open {
  display: block;
}
.modal.open {
  display: block;
}
.modal2.open {
  display: block;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: grey;
  opacity: .6;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  display: none;
}

 /* ボタンを横並びにする */
        form {   
           display: inline-block;
        }
      
        /* 打消し線を入れる */
        tr.del>td {
            text-decoration: line-through;
        }

        /* ボタンのセルは打消し線を入れない */
        tr.del>td.button {
            text-decoration: none;
        }

.float-right{
	float:right;
  clear: both;
}
.float-left{
	float:left;
  clear: both;
}


/* .table-hover {
  tbody :tr {
    @include hover() {
      width:105%;
	  opacity:1;
      color: $table-hover-color;
      background-color: $table-hover-bg;
    }
  }
} */


.form-control:hover{
	animation:    1s alternate ;
	 animation-duration:200;
 	 animation-iteration-count:infinite;
	transition: all 0.5s;
	animation-timing-function:ease-in-out;
	overflow: hidden;
}



@keyframes pokemon{
  0%{
    background: #ea8400;
  }

  100%{
    background: #00b3e3;
  }
}

@keyframes nobiru{
    0%{
    }
    20%{
    transform: scale(0.0) rotate(2deg);
        width: 104%;

    }

    25%{
    }
    50%{
    }
    75%{
    }
    100%{
   			transform: scale(1.2) rotate(233deg);
           width: 105%;
    }
    }



.form-login{
	width:100%;
	max-width:330px;
	padding:15px;
	margin: auto;
}

.form-signup{
	width:100%;
	max-width:576px;
	padding:15px;
	margin: auto;
	overflow: hidden;
}

.suke{
    opacity: 0.5;
}
.sokosoko{
	font-size:72px;
	
	font-weight: 900;
	font-stretch:ultra-expanded;
}

.dekai{
	font-size:102px;
	color:white;
	font-weight: 900;
	font-stretch:ultra-expanded;
}

.medachi{
	font-size:18px;
	font-weight: 1000;
	opacity:1;
	font-stretch:ultra-expanded;
}

.medachi2{
	font-size:24px;
	opacity:1;
	
}

.tyottodekai{
	font-size:12px;
	color:white;
	font-weight: 100;
}

.red{
	background-color: gray;
}

.grid{
  grid-row: 1 / span 2;
}

.sumi{
  color: red;
  //background-color: red;
  fill:red;
  //width: 15%;
  transform: translate(-21px,-12px) ;
 
}

.opa{
	opacity:0.5;
	overflow: scroll
}

.opaS{
	opacity:0.9;
	overflow: scroll
}
.opaG{
	opacity:0.1;
	z-index:0;

}

.zmax{
	 z-index:10;
	 overflow: hidden;
}


.slider{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.slider__content{
    min-width: 100%;
    animation: sliderAnime 12s ease-in-out infinite;
}

@keyframes sliderAnime{
    0%{

    }
    16.6%{
        transform: translateX(0);
    }
    33.3%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    66.6%{
        transform: translateX(-200%);
    }
    83.2%{
        transform: translateX(-200%);
    }
    100%{
        transform: translateX(0);
    }
}

.slider__img{
    max-width: 100%;
    min-width: 100%;
}